* {
  margin: 0;
  padding: 0;
}

#stories-display {
  width: 600px;
  height: 600px;

  padding: 1em;

  margin: 32px 1em;
}

#map-container {
  width: 100%;
  height: 600px;
}

#map-display {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 0 1em;
  /* border: solid 0.2em black; */
}

#homepage-wrapper {
  flex-wrap: row;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.graph {
  padding: 0.5em;
}

.featured-story {
  height: 285px;
  padding: 0.5em;
  overflow: auto;
}

.nav-wrapper {
  width: 100vw;
}

#nav-typography {
  padding: 2em;
}

#nav-buttons {
  margin-left: auto;
}

.age-insurance {
  display: flex;
  max-width: 50vw;
  justify-content: space-between;
}

.title {
  padding-right: 0.5em;
}

.leaflet-tooltip.my-labels {
  border: 0px solid #000;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: blue;
}

/* NOTE: ATTEMPT TO HIDE TOOLTIP USING MOUSEOUT NOT WORKING */
/* .leaflet-tooltip.hidden-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: none;
} */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #bar-chart {
    width: 300px;
  }

  .graph {
    width: 300px;
  }

  .recharts-wrapper {
    width: 300px;
  }

  #stories-display {
    width: 300px;
  }

  #map-container {
    height: 500px;
    width: 75%;
  }

  #map-display {
    width: 100%;
    height: 600px;
    display: block;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin: 0 1em;
    /* border: solid 0.2em black; */
  }

  #homepage-wrapper {
    flex-wrap: row;
    display: block;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}
