* {
  margin: 0;
  padding: 0;
}

/*---------------------Applies to nav bars across all pages-------------------*/

.nav-wrapper {
  width: 100%;
}

#nav-typography {
  padding: 2em;
}

#nav-buttons {
  margin-left: auto;
}

div.MuiFormControl-root.css-1869usk-MuiFormControl-root {
  margin-top: -5px;
}

div.MuiFormControl-root.css-1e7cuzv-MuiFormControl-root {
  margin-top: -10px;
}

#select-county {
  z-index: 1;
}

.V-Buttons {
  margin-top: -20px;
}

#V-Nav-Title {
  margin-top: -8px;
}

#V-Nav-Subtitle {
  margin-top: -17px;
}

/*------------------------ Map.js styles ---------------------*/
#map-container {
  width: 98%;
  height: 600px;
}
/*------------------------------Home page (mobile-first)------------------------------------*/
#homepage-wrapper {
  display: flex;
  height: auto;
  flex-direction: column;
}

#map-display {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-self: center;
  padding: 0.5em;
  margin: 0;
}

#home-right {
  display: flex;
  flex: 1;
  width: 90vw;
  flex-direction: column;
}

#intro-image {
  display: flex;
  margin-top: 1vw;
  flex-direction: column;
}

#intro {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#image {
  align-self: center;
}

img[src*='Debt1'] {
  border-radius: 20px;
  width: 250px;
}

img[src*='Debt2'] {
  width: 200px;
}

#featured-story {
  width: 80vw;
  margin: 1em;
}

.leaflet-tooltip.my-labels {
  background-color: transparent;
  fill: none;
  border: transparent;
  border-radius: 4px;
  box-shadow: none;
  color: #205a3e;
  font-size: 1.5em;
  font-weight: bolder;
}

.age-insurance {
  display: flex;
  max-width: 50vw;
  justify-content: space-between;
  margin-bottom: 25px;
}

li.story-bullets {
  padding-left: 20px;
  text-indent: -1.4em;
  padding-bottom: 8px;
  margin-left: 0.5em;
}

.featured-buttons {
  display: flex;
  justify-content: space-between;
}

.drop-wrapper {
  display: flex;
  justify-content: space-between;
}

p {
  padding-bottom: 5px;
}
/*------------------------------Sub Pages (About.js)---------------------------------*/
/* display for mobile (first) */
.subpage-wrapper {
  display: flex;
  flex-direction: column;
  flex: wrap;
  margin-top: 15px;
  margin-left: 3vw;
  margin-right: 5vw;
}

.content {
  padding-top: 10px;
}

.left-article {
  min-width: 100%;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-right: 3vw;
}

.right-article {
  min-width: 100%;
  align-items: center;
  /* margin-top: 4vw; */
  margin-left: 1vw;
  margin-right: 1vw;
}

/*------------------------------Admin Portal---------------------------------*/
.admin-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

#create-button {
  display: flex;
}

#update-delete-button {
  display: flex;
}

#create-form {
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw;
}

#update-form {
  margin-left: 5vw;
}

#bulk-form {
  margin-left: 5vw;
}

textarea {
  min-width: 20vw;
  min-height: 10vh;
}

#login-screen {
  margin-top: 2.5vh;
  margin-left: 5vw;
}

/* ------------------------------Responsive Rendering------------------------------------- */

/* ---Larger Mobile Query--- */
@media screen and (min-width: 500px) {
  #map-display {
    width: 450px;
  }
}

/* ---Ipad screen Query --- */
@media screen and (min-width: 500px) {
}

/* ---Larger screen Query (768 and larger) --- */
@media screen and (min-width: 768px) {
  #homepage-wrapper {
    display: flex;
    width: 95vw;
    height: 600px;
    flex-direction: row;
    gap: 1vw;
  }

  #map-container {
    width: 90%;
    height: 500px;
    margin-top: 0;
  }

  #map-display {
    width: 500px;
  }

  #home-right {
    display: flex;
    margin-right: 10vw;
    /* align-self: flex-start; */
    flex-direction: column;
    width: 50vw;
  }

  #intro-image {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
  }

  img[src*='Debt1'] {
    border-radius: 20px;
    width: 300px;
  }

  img[src*='Debt2'] {
    width: 300px;
  }

  #intro {
    width: 40vw;
    /* flex: 1 0 auto; */
    margin: 1vw;
  }

  #featured-story {
    margin: 1em;
    flex: 1;
    max-width: 100%;
  }

  .subpage-wrapper {
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin-top: 15px;
    margin-left: 3vw;
    margin-right: 5vw;
  }

  .content {
    padding-top: 10px;
  }

  .left-article {
    min-width: 60%;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 3vw;
  }

  .right-article {
    min-width: 40%;
    align-items: center;
    /* margin-top: 4vw; */
    margin-left: 1vw;
    margin-right: 1vw;
  }
}
