* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  padding: 2px;
}

header {
  padding: 2rem;
  grid-column: 1 / 4;
}

.left {
  grid-column: 1 / 2;
}

main {
  grid-column: 2 / 3;
  word-wrap: normal;
}

footer {
  grid-column: 1 / 4;
}

#stories-display {
  width: 100%;
  height: 600px;
  overflow: auto;
  padding: 1em;
  margin: 0 1em;
}

#map-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 0 1em;
  /* border: solid 0.2em black; */
}

#homepage-wrapper {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.graph {
  padding: 0.5em;
}

.featured-story {
  padding: 0.5em;
  overflow: auto;
}

#nav-typography {
  padding: 2em;
}

#nav-buttons {
  margin-left: auto;
}

.age-insurance {
  display: flex;
  max-width: 50vw;
  justify-content: space-between;
}

.title {
  padding-right: 0.5em;
}

.leaflet-tooltip.my-labels {
  border: 0px solid #000;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  color: blue;
}

/* NOTE: ATTEMPT TO HIDE TOOLTIP USING MOUSEOUT NOT WORKING */
/* .leaflet-tooltip.hidden-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  color: none;
} */
